* {
  margin: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
  
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.logo {
  padding-left: 3vw;
  flex: 1;
  font-family: 'Sen', sans-serif;
  color: #7378c5;
  cursor: pointer;
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 600px;
}

.menu {
  flex: 6;
  display: flex;
  align-items: center;
  list-style: none;
}
.menu-content {
  padding: 0 25px;
}
.menu-content:hover{
    cursor: pointer;
    color: #7378c5;
}
.menu-content.activee {
  font-weight: bold;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    width: 15vh;
    
  }
  
  .search::placeholder {
    color: #7378c5;
  }
  

.profile {
  margin: 0 3vw;
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: end;
}



.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pofile-icon-sun {
  color: #7378c5;
  font-size: 16px;

  align-items: center;
}
.pofile-icon-moon {
  color: #7378c5;
  font-size: 16px;

  align-items: center;
}
.toggle-ball {
  height: 16px;
  width: 16px;
  background-color: black;
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: 10px;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: none;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
}
.sidebar-icons {
  padding-bottom: 45px;
  font-size: 25px;
  color: aliceblue;
}

.container {
  height: 100%;
  justify-content: center;
  background-color: #151515;
  display: flex;
  flex-wrap: wrap;
  
}


.movie {
  margin: 1rem;
  color: white;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #493838ee;
  position: relative;
  
}
.movie img {
  width: 100%;
  
}

.movie-name {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating{
    
    border-radius: 5px;
    padding: 3px;
}

.movie-overview{
    position: absolute;
    padding: 2rem;
    
    max-height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(120%);
    transition: transform 0.3s ease-in;
    overflow-y: auto;
    color: transparent;
    background-color: transparent;

}
.movie:hover .movie-overview{
    transform: translateY(0);
    color: #fff;
    background-color: #6d3838;
}
@media (max-width: 800px) {
    
    .sidebar, .profile-pic, .profile-text, .sidebar-iconsolid{
        display: none;
    }
    .menu{
        display: none;
    }

body{
width: 100vw;


};

}


.container.active {
  background-color: white;
}
.navbar-container.active {
  background-color: #fff;
  color: #151515;
}
.toggle.active{
  background-color: black;
}
.toggle-ball.active{
  background-color: white;
  left: 0;
}
.search.active{
  border: 2px solid black;
}
body.active{
  background-color: #fff;
}

